* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#container {
    height: 256px;
    width: 256px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.grid {
    border: 1px solid black;
}